
################# Start AI Services - PreTrainedModels #################
DataScience\AI Services\PreTrainedModels\entities\__pycache__
DataScience\AI Services\PreTrainedModels\main\__pycache__
DataScience\AI Services\PreTrainedModels\data
################# End AI Services - PreTrainedModels #################